<footer>
    <div class="grid">
        <div class="info">
            <span>Gestión de productos</span>
            <p>
                Este proyecto es un ejemplo de una aplicación Angular que permite gestionar productos. Puedes agregar,
                editar y eliminar productos, así como ver una lista de todos los productos disponibles.
            </p>
        </div>
        <div class="contact">
            <h3>Contacto</h3>
            <span>Email: jsandoval683&#64;unab.edu.co</span>
            <span>Teléfono: +57 320 444 6566</span>
        </div>
    </div>
    <hr>
    <div>
        <p>&copy; 2025 Todos los derechos reservados</p>
    </div>
</footer>