.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ima-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.info-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}