<section class="home">
    <img src="home-banner.jpg" alt="Home Banner" class="home-banner">
    <h1>{{tittle()}}</h1>
    <p>{{description()}}</p>
    <button mat-fab extended [routerLink]="productLink()">Ver productos</button>
</section>
<section class="resume">
    <div class="card">
        <h3>Total de productos</h3>
        <p>{{products().length}}</p>
    </div>
    <div class="card">
        <h3>Total de productos disponibles</h3>
        <p>{{totalAvailable()}}</p>
    </div>
    <div class="card">
        <h3>Valor total de productos</h3>
        <p>{{totalValue() | currency }}</p>
    </div>
</section>